.sign-in-container {
    width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 8px;
    margin-left: 40%;
    margin-top: 2%;
  }
  
  .header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
  }
  
  .sign-in-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
  }
  
  .sign-in-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .or-text {
    margin: 15px 0;
    color: #666;
  }
  
  .phone-input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
  }
  
  .isd-code {
    margin-right: 8px;
    color: #666;
  }
  
  .phone-input {
    border: none;
    outline: none;
    width: 100%;
  }
  
  .terms-text {
    margin-top: 10px;
    font-size: 12px;
    color: #666;
  }
  
  .terms-text a {
    color: #007aff;
    text-decoration: none;
  }
  