<div class="dialog-container">
  <div class="search-bar">
    <button class="search-icon">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    <input type="text" matInput class="city-search-input" [formControl]="cityControl" [matAutocomplete]="auto" placeholder="Search for your city" />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option" (click)="selectedLocation(option)">{{option}}</mat-option>
    </mat-autocomplete>
  </div>
  <hr class="divider-line">
  <button mat-button class="detect-location-btn" (click)="detectUserLocation()">
    <fa-icon [icon]="faLocationCrosshairs" ></fa-icon>
    Detect my location
  </button>

  <h4 class="popular-cities-heading">Popular Cities</h4>
  <div class="popular-cities">
    <div class="city-card" *ngFor="let city of popularCities">
      <img [src]="city.icon" alt="{{ city.name }}" (click)="selectedLocation(city.name)" />
      <p>{{ city.name }}</p>
    </div>
  </div>

  <div class="view-all">
    <a mat-button color="warn">View All Cities</a>
  </div>
</div>