/UI/node_modules
/UI/src/environments
/UI/dist
/BE/node_modules
/BE/.env
/BE/client_secret_510243877519-ejmvr1k6l75c0ffom5oe8a8em5jt03i3.apps.googleusercontent.com.json
/UI/.angular
/UI/.vscode
/UI/src/app/shared/graph
/UI/src/app/shared/product
/UI/src/app/shared/divya-login
/UI/src/app/shared/question
/UI/src/assets/data.json
