.carousel {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: auto; /* Center the carousel */
  overflow: hidden;
}

.carousel-slide {
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide.active {
  display: block;
}

.slide-image {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
