<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading">
    <!-- movie section -->
    <div class="recommendations-section">
        <div class="heading">
            <h3>Recommended Movies</h3>
            <a routerLink="/explore/movies/{{currLocation}}" class="see-all-link">See All ›</a>
        </div>
        <div class="recommendations-list">
            <img class="arrow-btn-left" src="assets/arrow-left.png" alt="" [hidden]="currentPage['movie']==0" (click)="prevPage('movie')">
            <mat-card class="event-card" *ngFor="let movie of paginatedMovies">
                <img mat-card-image [src]="movie.poster" alt="{{ movie.title }}"
                    (click)="redirectToMoviePage(movie.title,movie.imdbID)" />
                <div class="event-info">
                    <ng-container *ngIf="movie.imdbRating">
                        <span class="star-icon">⭐</span> {{ movie.imdbRating }} / 10
                    </ng-container>
                </div>
                <mat-card-title>{{ movie.title }}</mat-card-title>
                <mat-card-subtitle>{{ movie.genre }}</mat-card-subtitle>
            </mat-card>
            <img class="arrow-btn" src="assets/arrow-right.png" alt="" [hidden]="currentPage['movie']==1" (click)="nextPage('movie')">
        </div>
    </div>

    <div class="recommendations-section">
        <div class="heading">
            <h3>Live Events</h3>
            <a routerLink="/explore/event-{{currLocation}}" class="see-all-link">See All ›</a>
        </div>

        <div class="recommendations-list">
            <img class="arrow-btn-left" src="assets/arrow-left.png" alt="" [hidden]="currentPage['liveEvent']==0"
                (click)="prevPage('liveEvent')">
            <mat-card class="event-card" *ngFor="let event of paginatedEvents">
                <img mat-card-image [src]="event.image_url" [alt]="event.title" (click)="redirectToEventPage(event)">
                <div class="event-info">
                    <span>{{ parsedDate(event.start_date) }}</span>
                </div>
                <mat-card-title>{{ event.title }}</mat-card-title>
            </mat-card>
            <img class="arrow-btn" src="assets/arrow-right.png" alt="" [hidden]="currentPage['liveEvent']==1" (click)="nextPage('liveEvent')">
        </div>
    </div>


    <!-- Games Section -->
    <div class="recommendations-section">
        <div class="heading">
            <h3>Games</h3>
            <a href="#" class="see-all-link">See All ›</a>
        </div>
        <div class="recommendations-list">
            <mat-card class="event-card" *ngFor="let game of gameEvents">
                <img mat-card-image [src]="game.poster" [alt]="game.title">
                <div class="event-info">
                    <mat-card-title>{{ game.title }}</mat-card-title>
                    <mat-card-subtitle>10-Oct 24</mat-card-subtitle>
                </div>
            </mat-card>
        </div>
    </div>

    <!-- Fun Activities Section -->
    <div class="recommendations-section">
        <div class="heading">
            <h3>Fun Activities</h3>
            <a href="#" class="see-all-link">See All ›</a>
        </div>
        <div class="recommendations-list">
            <mat-card class="event-card" *ngFor="let e of funEvents">
                <img mat-card-image [src]="e.poster" [alt]="e.title">
                <div class="event-info">
                    <mat-card-title>{{ e.title }}</mat-card-title>
                    <mat-card-subtitle>10-Oct 24</mat-card-subtitle>
                </div>
            </mat-card>
        </div>
    </div>
</div>