<app-header></app-header>
<app-tabs></app-tabs>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="movie-detail-container">
  <div class="movie-container">
    <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="movie-poster" />
    <div class="movie-details">
      <h1>{{ movie.title }}</h1>
      <div class="rating-section">
        <span class="rating"><fa-icon [icon]="faStar"></fa-icon>{{ movie.imdbRating }}/10</span>
        <span class="votes">(900 Votes)</span>
        <button class="rate-btn" (click)="openReviewDialog()">Rate now</button>
      </div>
      <div class="movie-info">
        <div class="formats">2D, IMAX 2D</div>
        <div class="language">{{ movie.language }}</div>
        <div class="meta">{{ movie.runtime }} • {{ movie.genre }} • {{ movie.released }}</div>
      </div>
      <button class="book-tickets">
        <a [routerLink]="['/buytickets', movie.title, currDate]">Book Tickets</a>
      </button>
    </div>
  </div>
  
    <section class="about">
      <h2>About the Movie</h2>
      <p>{{ movie.plot }}</p>
    </section>
  
    <section class="cast">
      <h2>Cast</h2>
      <div class="cast-grid">
        <div *ngFor="let castMember of movieCast">
          <img [src]="movieCastImg(castMember)" alt="{{ castMember }}" />
          <p>{{ castMember }}</p>
          <p>Actor</p>
        </div>
      </div>
    </section>

  
    <section class="reviews">
      <h2>Top Reviews</h2>
      <div class="review-tags">
        <button *ngFor="let tag of reviewTags" class="review-tag">{{ tag.name }} ({{ tag.count }})</button>
      </div>
      <div class="review-list">
        <div *ngFor="let review of userReviews" class="review">
          <p><strong>{{ review.user }}</strong> <span class="rating">{{ review.rating }}/10</span></p>
          <p class="review-comment">{{ review.comment }}</p>
          <div class="review-actions">
            <span>{{ review.likes }} <fa-icon [icon]="faThumbsUp"></fa-icon></span>
            <span>{{ review.dislikes }}<fa-icon [icon]="faThumbsDown"></fa-icon></span>
          </div>
        </div>
      </div>
    </section>  
  </div>
  