<app-header></app-header>
<app-tabs></app-tabs>
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<div *ngIf="!loading" class="event-container">
  <!-- Event Banner -->
  <div class="event-banner">
    <img src="assets/event-banner.jpg" alt="Event Banner" />
  </div>

  <!-- Event Details -->
  <div class="event-details">
    <div class="event-info">
      <h1 class="event-title">{{eventData.title}}</h1>
      <p class="event-meta">{{eventData.genre}} | {{eventData.minimum_age}}yrs + | 7hrs 30mins</p>
      <p class="event-time-location">
        <span>{{eventData.event_date}}</span> |
        <span>{{eventData.venue_name}} : {{eventData.city}}</span> |
        <span>₹1,799 onwards</span>
      </p>
      <button class="book-button">Book</button>
    </div>
  </div>

  <!-- Interested Section -->
  <div class="interested-section">
    <p>Click on Interested to stay updated about this event.</p>
    <button class="interested-button">Interested?</button>
    <p class="interest-count">💖 {{eventData.like_count}} people have shown interest recently</p>
  </div>

  <!-- Performers Section -->
  <div class="performers-section">
    <div class="performer">
      <img src="https://via.placeholder.com/100" alt="placeholder" />
      <p>Performer Name</p>
    </div>
  </div>

  <!-- About Section -->
  <div class="about-section">
    <h2>About</h2>
    <p>
      {{eventData.description}}
    </p>
  </div>

  <!-- Map Section -->
  <div class="map-section">
    <h3>{{eventData.city}}</h3>
    <p>{{eventData.venue_name}}: {{eventData.city}}, {{eventData.state}}, India</p>
    <iframe [src]="mapURL" width="100%" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="disclaimer-section">
    <h2>Event Terms & Conditions</h2>
    <p *ngFor="let condition of termsAndConditions"><fa-icon [icon]="faCheck"></fa-icon> {{condition}}</p>
  </div>

  <!-- Disclaimer Section -->
<!-- Disclaimer Section -->
<div class="disclaimer-section">
  <h2>Event Disclaimer</h2>
  <p *ngFor="let disclaimer of eventDisclaimer">
  <fa-icon [icon]="faCheck"></fa-icon> {{disclaimer}}
  </p>
</div>

</div>

