<div class="tabs-container">
    <div class="tabs">
    <a mat-button routerLink="/explore/movies/{{redirectParams}}">Movies</a>
    <a mat-button routerLink="/explore/stream/{{redirectParams}}">Stream</a>
    <a mat-button routerLink="{{redirectURL}}">Events</a>
    <a mat-button routerLink="/explore/plays/{{redirectParams}}">Plays</a>
    <a mat-button routerLink="/explore/sports/{{redirectParams}}">Sports</a>
    <a mat-button routerLink="/explore/activities/{{redirectParams}}">Activities</a>
    </div>
  </div>
  