<div class="tabs-container">
    <div class="tabs">
    <a mat-button routerLink="/explore/movies/{{currLocation}}">Movies</a>
    <a mat-button routerLink="/explore/stream/{{currLocation}}">Stream</a>
    <a mat-button routerLink="/explore/events/{{currLocation}}">Events</a>
    <a mat-button routerLink="/explore/plays/{{currLocation}}">Plays</a>
    <a mat-button routerLink="/explore/sports/{{currLocation}}">Sports</a>
    <a mat-button routerLink="/explore/activities/{{currLocation}}">Activities</a>
    </div>
  </div>
  