<div class="header-container">
  <div class="logo"><a [routerLink]="['/explore/home', currLocation]">MyShowHub</a></div>
    <mat-form-field class="search-bar" appearance="outline">
      <mat-label>Search for Movies, Events, Plays...</mat-label>
      <input matInput type="text" [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions" [value]="option" (click)="redirectToEventPage(option)">{{option.title}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  <button mat-button class="location" (click)="openDialog()">{{parsedLocation(currLocation)}} <mat-icon>expand_more</mat-icon></button>
  <div *ngIf="!isUserLoggedIn">
    <button mat-raised-button color="primary"><a routerLink="/login">Sign In</a></button>
  </div>
  <div class="userProfile" *ngIf="isUserLoggedIn" (click)="redirectToUserPage()">
    <img src="assets/user.png"><span>Hi,Guest</span>
  </div>
  <button *ngIf="!showSideNav" mat-icon-button (click)="toggleSideNav('open')"><mat-icon>menu</mat-icon></button>
  <div *ngIf="showSideNav"> 
    <app-side-nav [isUserLoggedIn]="isUserLoggedIn" (toggleSideNav)="toggleSideNav($event)" ></app-side-nav>
  </div>
</div>